.App {
  text-align: center;
   background-image: url(/Users/raunaksingh/weather-app/src/GdI58xNa4AAbw2A.jpeg);
   background-size: cover;
   background-position: center;
   margin: -10px;
   padding: -20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search-bar{
  padding-bottom: 50px;
  align-items: flex-end ;
  
}
  


.App-link {
  color: #236476;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
